{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <form action="" method="POST">
        <h1>Formulário de cadastro</h1>
        <div>
            <label for="nome">Nome:</label>
            {{form.username(id='nome')}}
        </div>
        <div>
            <label for="email">Email:</label>
            {{form.email(id='email')}}
        </div>
        <div>
            <label for="senha">Senha:</label>
            {{form.password(id='senha')}}
        </div>
        <div>
            <label for="idade">Idade:</label>
            {{form.date(id='idade')}}
        </div>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
{% endblock %}